/* hpheader = home page header */
.hpheader {
    padding: 10px 10px 0 10px;
    color: rgb(0, 0, 0);
    font-size: 175%;
    text-align: center;
    margin: 0px 10px 10px 10px;

    @media (max-width: 1028px) {
        font-size: x-large;
    }

    @media (max-width: 522px) {
        font-size: medium;
    }
}

.subtext {
    max-width: 30%;
    margin: 0 auto;
    text-align: center;
}

.txt {
    color: rgba(0, 98, 255, 1);
}
